@charset 'UTF-8';

/*  Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/


body {
    background-color: rgb(179, 228, 179);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(4,100,0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4,100,0);
    color: white;
}

h2 {
    color: rgba(92, 136, 4, 0.781);
}

